body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    background:#1f2937 ;
}

.top-bar {
    display: flex;
    color: #f9faf8;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.logo img{
    width: 84px;
    height: auto;
    margin-right: auto;
}

.header-links{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}
.header-links a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
}

/* HERO */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-info h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-info p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-info{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero button{
    display:block;
    text-align: center;
    width: 110px;
    border: none;
    background: blue;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.image img{
    width: 450px;
    height: 350px;
}

/* CONTENT */

.content{
    align-items: center;
}

.pics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pics img{ 
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid lightgreen;
    border-radius: 10px;
    margin: 5px 20px 0px 20px
}

/* QUOTE */