body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    background:#1f2937 ;
}

.top-bar {
    display: flex;
    color: #f9faf8;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.logo img{
    width: 84px;
    height: auto;
    margin-right: auto;
}

.header-links{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}
.header-links a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
}

/* HERO */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.hero-info h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-info p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-info{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero button{
    display:block;
    text-align: center;
    width: 110px;
    border: none;
    background: blue;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.image img{
    width: 450px;
    height: 350px;
}

/* CONTENT */

.content{
    align-items: center;
}

.pics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pics img{ 
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid lightgreen;
    border-radius: 10px;
    margin: 5px 20px 0px 20px
}

/* QUOTE */
.quote{
    display: flex;
    flex-direction: column;
    background-color:#e5e7eb;
    padding: 0 200px;
}

.quote p{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.quote b{
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}

/* SIGN UP */
.signup{
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
    flex: 1;
    justify-content: center;
}

.signup-info{
    text-align: left;
}

.signup-info p{
    color: white;
    opacity: 0.8;
    margin: 5px 30px 30px 50px;
}

.signup-info h3{
    color: white;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signup-button button{
    color: white;
    border-color: white;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: bolder;
}

/* FOOTER */
.footer{
    background-color: #1f2937;
    color: white;
}

